<div class="new-post-form">
<%= form_for @post do |f| %>
	<h1>Create a New Post</h1>
	<h3>Title</h3>	
	<p><%= f.text_field :title,  size: "100x12" %></p>
	<h3>Description</h3>	
	<p><%= f.text_field :description, size: "100x12" %></p>
	<h3>Content</h3>
	<p><%= f.text_area :content, size: "100x100" %></p>
	<%= f.submit "Save" %>
<% end %>
</div>