<!DOCTYPE html>
<html>
  <head>
    <title>Nic Travis Codes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="sidebar box">
        <div class="logo-d iv"><a href="/"><%= image_tag 'me.jpeg', class: 'logo'%></a></div>
        <div class="about-div">
          <h2>About</h2>
          <p>I am freelance web developer, currently living in sunny Bangkok, TH. I focus on Ruby, Rails, React, Redux, and other things that begin with R. I also do music stuff. <%= link_to 'more', about_path %> </p>
          <p>Thank you for visiting.</p>
        </div>
        <%= link_to "Create", new_post_path %>
      </div>

      <div class="content box">
        <%= yield %>
      </div>

      <div class="footer box">
          <%= link_to '<- Newer', root_path %>
          <%= link_to 'Older ->', posts_path %>
      </div>

    </div>

  <div class="side-text">
    <span>&copy Nic Travis Codes</span>
  </div>

  </body>
</html>
